@{
    ViewBag.Title = "MoviesGalore - Assignment 9 Edition";
}

@model Movies

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <!--This works!!!-->
    <a asp-action="EnterFilm">Enter Your Favorite Movies Here</a>

</div>

<a> <img src="img/movies.jpeg" class="rounded" /> </a>
<img src="img/JoelHilton.jpg">

<br />

